/* **************************************** Tags ******************************************** */
body {
 margin:0px;
 background-color:#efe5dc;
 text-align:center;
 font-family: 'Joan', serif;
}

h1 {
 color: #ae5c2c;
 font-family: 'Josefin Sans', sans-serif;
 /* 16px = 100% = 1em */
 font-size: 6.875em;
 font-weight:600;
}

h2 {
 color:#424027;
 margin:0 auto;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 60px;
 font-weight:600;
}

h3 {
 color:#efe5dc;
 font-size: 1.7em;
 font-weight: 600;
 font-family: 'Josefin Sans', sans-serif;
 text-decoration:none;
 width:10%;
}

p {
 font-family: 'Varela Round', sans-serif;
 font-weight:400;
 font-size:180%;
 padding-top:1%;
 width:70%;
 margin:0 auto;
}


img {
 margin:0px;
 padding:0px;
}

ul {
 padding:0;
 text-align:center;
}

/* *************************************** Classes ****************************************** */

/* Banner Classes */
.banner {
 width:100%;
 height:80px;
 background-color:#424027;
 border-bottom:solid black 1px;
 position:relative;
 z-index:1;
}

.home {
 width:50px;
 vertical-align:top;
 position:absolute;
 top:15px;
 left:20px;
}

.links_container {
 display:flex;
 text-align:center;
 position:absolute;
 right:0;
}

.link {
 text-decoration:none;
 text-align:center;
}

.subpage {
 position:relative;
 text-align:center;
 width:200px;
}

/* Middle Container Classes */

.middle-container {
 background-color: #efe5dc;
 position:relative;
 width:100%;
 height:fit-content;
 z-index:0;
}

/* Biography Classes */

.hello {
 margin: 50px auto;
}

.name {
 margin: 100px auto 0 auto;
}

/* Skills Block Classes */

.background{
 border: 3px solid black;
}

.background:hover{
 opacity:0.1;
}

.skill_block:hover .skill_list_block{
 visibility:visible;
}

.skills{
 position:relative;
 width:100%;
 background-color: #efe5dc;
 margin-top:100px;
}

.skill_list{
 font-family: 'Josefin Sans', sans-serif;
 font-weight:1000;
 list-style-type:none;
 font-size:200%;
 font-weight:1000;
 max-width:300px;
 line-height:50px;
}

.skill_block {
 display:flex;
 justify-content:center;
 position:relative;
 /* margin: 0 auto; */
}

.skill_list_block{
 padding-top:30px;
 position:absolute;
 margin: 0 auto;
 visibility:hidden;
}

.flex_pictures {
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 align-items:flex-start;
 gap: 50px 50px;
 margin: 0 auto;
}

/* Bottom Container */

.bottom-container {
 background-color: #424027;
 width:100%;
 position:relative;
 height:fit-content;
 margin-top: 100px;
}

.instagram {
 width:50px;
 vertical-align:top;
 position:relative;
 margin: 20px 5px;
}

.linkedin {
 width:50px;
 vertical-align:top;
 position:relative;
 margin: 20px 5px;
}

/* ***************************************** IDs ******************************************** */

#avatar {
 width:75px;
 vertical-align:top;
 position:absolute;
 top:5px;
 left:40px;
}

#intro_subtitle {
 padding-top:2%;
 width:50%;
}

#mountain {
 width:100%;
 bottom:0px;
}

#nav_contact_me {
 position:absolute;
 top:10px;
 right:200px;
}

#nav_my_work {
 position:absolute;
 top:10px;
 right:100px;
}

#nav_credits{
 position:absolute;
 top:10px;
 right:20px;
}

#profile_picture {
 margin-top:3%;
 margin-bottom:2%;
 border-radius:70%;
 width:20%;
 border: 3px solid black;
}

#bg_computer {
 /* left:6.57%;
 top:200px; */
 width:350px;
}

#bg_barista {
 /* left:28.75%;
 top:200px; */
 width:350px;
}

#bg_vial {
 /* right:28.75%;
 top:200px; */
 width:350px;
}

#bg_forest {
 /* right:6.57%;
 top:200px; */
 width:350px;
}

#skills {
 margin:30px auto 0 auto;
 font-size: 1300.14%;
 position:relative;
 max-width:1000px;
 min-width:735px;
 color:#ae5c2c;
}